RESEND_API_KEY=
RESEND_SENDER_EMAIL=
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENVIRONMENT=
POLYGON_API_KEY=
ENCRYPTION_KEY=
FMP_API_KEY=
STRIPE_KEY=
STRIPE_PRICE_ID=
JWT_SECRET_KEY=
JWT_ALGORITHM=
DATABASE_URL=