fastapi
uvicorn
python-jose[cryptography]
bcrypt==4.1.2
passlib==1.7.4
python-multipart
sqlalchemy
plaid-python
python-dotenv
pymysql
requests
sendgrid
autogluon.timeseries
pandas
matplotlib
numpy
autogluon
openpyxl
tzdata